/* BEGIN: tables.scss
// -----------------------------------------------------*/
.ux-data-table {
    width: 100%;
    &.no-shadow {
        box-shadow: none;
    }
    &.no-border {
        border: none;
    }
    &.striped {
        border: none;
        tr {
            &:nth-child(even) {
                background: $static-50;
            }
        }
    }
    tbody {
        tr {
            height: 38px;
            td {
                border-color: $border-color;
                height: 38px;
                padding-bottom: 0;
                padding-top: 0;
                &.ux-color-warn {
                    color: $status-high;
                    font-weight: 600;
                }
            }
        }
    }
}
