/* BEGIN: dashboard.scss
// -----------------------------------------------------*/
.ux-dashboard {
    flex-direction: column;
    .ux-dashboard--row {
        &.ux-dashboard--row-dashlets {
            @include flex(1);
        }
        .ux-widget--stretch {
            height: 100%;
            .ux-widget-dashlet {
                height: 100%;
            }
        }
        .ux-widget {
            box-shadow: 0 0 3px $shadow-color;
            &.ux-widget-kpi {
                color: $dark-contrast;
                background: $static-500;
                border: 1px solid shade($hex-static-500,10%);
                border-radius: $border-radius;
                text-align: center;
                box-shadow: 0 0 3px $shadow-color;
                padding: 8px 4px;
                .ux-widget-kpi--title, .ux-widget-kpi--label {
                    display: block;
                    @extend .ux-truncate;
                }
                .ux-widget-kpi--value {
                    @extend h1.display-1;
                }
            }
            &.ux-widget-dashlet {
                background: $static-white;
                .ux-widget-header,
                .ux-widget-content {
                    padding: $spacing-10;
                }
                .ux-widget-header {
                    height: $app-bar-height;
                    .ux-title {
                        @extend .ux-truncate;
                    }
                }
                .ux-widget-content {
                    height: calc(100% - 45px);
                    overflow: auto;
                    &.ux-chart {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                    .ux-chart-container {
                        width: 100%;
                        height: 100%;
                    }
                    .mdl-tabs {
                        height: 100%;
                        .mdl-tabs__tab-bar  {
                            justify-content: flex-end;
                        }
                        .mdl-tabs__tab {
                            padding:0 20px 5px 20px;
                            font-family: $ux_main_font;
                            font-size: 16px;
                            cursor:pointer;
                            &.is-active {
                                border-bottom: 2px solid $static-500;
                                padding:0 20px 5px 20px;
                                font-family: $ux_main_font;
                                font-size: 16px;
                                font-weight: 600;
                                cursor:pointer;
                            }
                        }
                    }
                }
                &.ux-area-chart {
                    // min-height: 500px;
                }
                .mdl-tabs__panel {

                }
            }
            &.ichart-blocked-apps {
                padding-bottom: 0;
                padding-left: 0;
            }
            &.ichart-support {
                .chart-container {
                    overflow: auto;

                    width: 100%;
                    min-width: 300px;
                    .chart {
                        float: left;

                        width: 40%;
                        min-width: 120px;
                        padding: $spacing-20 0 0 $spacing-10;
                    }
                    .chart-legend {
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 19px;

                        float: left;
                        // @include calc(width, "100% - 120px");

                        width: 60%;
                        margin: 0;
                        padding: 0;

                        list-style: none;
                        dt {
                            font-weight: 600;
                            line-height: 19px;
                        }
                        dd {
                            line-height: 19px;

                            margin: 0;
                            .chart-legend__dot {
                                display: inline-block;

                                width: 10px;
                                height: 10px;
                                margin-right: $spacing-10;

                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// LISTS
.ux-list--title {
    font-weight: 600;
}
