/* BEGIN: extend-mdl-grid.scss
// -----------------------------------------------------*/
// Extending mdl grid
.mdl-cell {
    .ux-grid--row {
        padding-left: 0;
        padding-right: 0;
        &:first-of-type {
            padding-bottom: 4px;
        }
        &:last-of-type {
            padding-top: 4px;
        }
    }
}
/* Responsive: Tablet */
@media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    .ux-page-content {
        flex-direction: row;
    }
    .mdl-grid {
        padding: 4px;
    }
    .mdl-cell {
        .ux-grid--row {
            padding-left: 4px;
            padding-right: 4px;
            &:first-of-type {
                padding-bottom: 4px;
            }
            &:last-of-type {
                padding-top: 4px;
            }
        }
    }
}
/* Responsive: Phone */
@media (max-width: $grid-tablet-breakpoint - 1) {
    .ux-page-content {
        flex-direction: row;
    }
    .mdl-grid {
        padding: 4px;
    }
    .mdl-cell {
        .ux-grid--row {
            padding: 4px;
        }
    }
}


