/* BEGIN: _mixins.scss
// -----------------------------------------------------*/

// Typography
// //////////

// Header Titles - Display for Dashboard
@mixin typo-display-1($titleFont) {
	font-family: $titleFont;
	font-size: 8rem;
	font-weight: 300;
	letter-spacing: -0.04em;
	line-height: 1;
}
@mixin typo-display-2($titleFont) {
	font-family: $titleFont;
	font-size: 6rem;
	font-weight: 400;
	letter-spacing: -0.02em;
	line-height: 1;
}
@mixin typo-display-3($titleFont) {
	font-family: $titleFont;
	font-size: 5rem;
	font-weight: 400;
	line-height: 1;
}
@mixin typo-display-4($titleFont) {
	font-family: $titleFont;
	font-size: 4rem;
	font-weight: 400;
	line-height: 1;
}
@mixin typo-display-5($titleFont) {
	font-family: $titleFont;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1;
}
@mixin typo-display-6($titleFont) {
	font-family: $titleFont;
	font-size: 3rem;
	font-weight: 600;
	line-height: 1;
}
@mixin typo-icon() {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

// Header Colors
@mixin header-color($base-color) {
	.color-base {
		color: $base-color; // base
	}
	.color-1 {
		color: tint($base-color, 10%); // highlight 1
	}
	.color-2 {
		color: tint($base-color, 30%); // highlight 2
	}
	.color-3 {
		color: tint($base-color, 20%); // highlight 3
	}
}

// Utility Mixins
// //////////
@mixin clearfix() {
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin  display($type) {
	display: $type;
}
@mixin  flex-direction($direction) {
	flex-direction: $direction;
}
@mixin  flex($number) {
	flex: $number;
}
@mixin  align-items($way) {
	align-items: $way;
}
@mixin  justify-content($how) {
	justify-content: $how;
}
@mixin  linear-gradient($background-color--lightest, $background-color--lighter) {
	linear-gradient: $background-color--lightest 10%, $background-color--lighter 100%;
}