/* BEGIN: _ivanti-palette.scss
// -----------------------------------------------------*/
// NOTE: RGB and HEX values - RGB color definitions in _color-definitions.scss
// HEX Color Palette after RGB color palette below

// mdl-theme and ivanti-theme both share these colors defined in _color-definitions.scss
@import 'color-definitions-ivanti';

// RGB COLOR PALETTE
// /////////////////////////////////////

// Black & White
$white: unquote("rgb(#{$ivanti-white})")   !default;
$black: unquote("rgb(#{$ivanti-black})") !default;


// Contrast
$light-contrast: unquote("rgba(#{$ivanti-light-contrast},.9)")   !default;
$dark-contrast: unquote("rgba(#{$ivanti-dark-contrast},.9)")   !default;


// Primary Color
$primary-50: unquote("rgb(#{$ivanti-primary-50})")   !default;
$primary-100: unquote("rgb(#{$ivanti-primary-100})") !default;
$primary-200: unquote("rgb(#{$ivanti-primary-200})") !default;
$primary-300: unquote("rgb(#{$ivanti-primary-300})") !default;
$primary-400: unquote("rgb(#{$ivanti-primary-400})") !default;
$primary-500: unquote("rgb(#{$ivanti-primary-500})") !default;
$primary-600: unquote("rgb(#{$ivanti-primary-600})") !default;
$primary-700: unquote("rgb(#{$ivanti-primary-700})") !default;
$primary-800: unquote("rgb(#{$ivanti-primary-800})") !default;
$primary-900: unquote("rgb(#{$ivanti-primary-900})") !default;
$primary-A100: unquote("rgb(#{$ivanti-primary-A100})") !default;
$primary-A200: unquote("rgb(#{$ivanti-primary-A200})") !default;
$primary-A700: unquote("rgb(#{$ivanti-primary-A400})") !default;
$primary-A900: unquote("rgb(#{$ivanti-primary-A700})") !default;

// Secondary Color
$secondary-50: unquote("rgb(#{$ivanti-secondary-50})")   !default;
$secondary-100: unquote("rgb(#{$ivanti-secondary-100})") !default;
$secondary-200: unquote("rgb(#{$ivanti-secondary-200})") !default;
$secondary-300: unquote("rgb(#{$ivanti-secondary-300})") !default;
$secondary-400: unquote("rgb(#{$ivanti-secondary-400})") !default;
$secondary-500: unquote("rgb(#{$ivanti-secondary-500})") !default;
$secondary-600: unquote("rgb(#{$ivanti-secondary-600})") !default;
$secondary-700: unquote("rgb(#{$ivanti-secondary-700})") !default;
$secondary-800: unquote("rgb(#{$ivanti-secondary-800})") !default;
$secondary-900: unquote("rgb(#{$ivanti-secondary-900})") !default;
$secondary-A100: unquote("rgb(#{$ivanti-secondary-A100})") !default;
$secondary-A200: unquote("rgb(#{$ivanti-secondary-A200})") !default;
$secondary-A700: unquote("rgb(#{$ivanti-secondary-A400})") !default;
$secondary-A900: unquote("rgb(#{$ivanti-secondary-A700})") !default;

// Accent Color
$accent-50: unquote("rgb(#{$ivanti-accent-50})")   !default;
$accent-100: unquote("rgb(#{$ivanti-accent-100})") !default;
$accent-200: unquote("rgb(#{$ivanti-accent-200})") !default;
$accent-300: unquote("rgb(#{$ivanti-accent-300})") !default;
$accent-400: unquote("rgb(#{$ivanti-accent-400})") !default;
$accent-500: unquote("rgb(#{$ivanti-accent-500})") !default;
$accent-600: unquote("rgb(#{$ivanti-accent-600})") !default;
$accent-700: unquote("rgb(#{$ivanti-accent-700})") !default;
$accent-800: unquote("rgb(#{$ivanti-accent-800})") !default;
$accent-900: unquote("rgb(#{$ivanti-accent-900})") !default;

// RGB Status colors
// ///// 
$status-low: unquote("rgb(#{$ivanti-status-low})")   !default;
$status-medium: unquote("rgb(#{$ivanti-status-medium})") !default;
$status-high: unquote("rgb(#{$ivanti-status-high})") !default;



// HEX COLOR PALETTE
// /////////////////////////////////////

// Primary Color
$hex-primary-50: #ebebeb;
$hex-primary-100: #d6d6d6;
$hex-primary-200: #c2c2c2;
$hex-primary-300: #ADADAD;
$hex-primary-400: #999999;
$hex-primary-500: #787878;
$hex-primary-600: #636363;
$hex-primary-700: #474747;
$hex-primary-800: #2B2B2B;
$hex-primary-900: #000000;
$hex-primary-A100: #f0a9a4;
$hex-primary-A200: #e97f77;
$hex-primary-A400: #e56a61;
$hex-primary-A700: #da291c;

// Secondary Color
$hex-secondary-50: #009AF5;
$hex-secondary-100: #0084E3;
$hex-secondary-200: #006DCD;
$hex-secondary-300: #0060B3;
$hex-secondary-400: #0058A6;
$hex-secondary-500: #004E94;
$hex-secondary-600: #004583;
$hex-secondary-700: #00396B;
$hex-secondary-800: #002D54;
$hex-secondary-900: #00243F;
$hex-secondary-A100: #D9EAED;
$hex-secondary-A200: #A8CFD7;
$hex-secondary-A400: #8BBFCA;
$hex-secondary-A700: #3E95A7;

// Accent Color
$hex-accent-50: #ecf5f6;
$hex-accent-100: #d9eaed;
$hex-accent-200: #c6dfe5;
$hex-accent-300: #a9cfd7;
$hex-accent-400: #8cbfca;
$hex-accent-500: #70afbd;
$hex-accent-600: #539fb0;
$hex-accent-700: #4094a7;
$hex-accent-800: #378597;
$hex-accent-900: #2e7788;


// Hex Status Colors
// Low
$hex-status-low: #f0c125;
// Medium
$hex-status-medium: #f18c31;
// High
$hex-status-high: #ff461e;







