/* BEGIN: typography.scss
// -----------------------------------------------------*/

/* Font Weights:
	light 300
	light 300 Italic
	regular 400
	regular 400 Italic
	semi-bold 600
	semi-bold 600 Italic
	bold 700
	bold 700 Italic
	extra-bold 800
	extra-bold 800 Italic
*/

/* body */
html, body {
	font-family: $ux_main_font;
    -webkit-font-smoothing: antialiased;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body, p {
	font-size: $ux-font-size; // 17px
	line-height: 19px;
}

// Headers
h1, h2, h3, h4, h5, h6, p {
	font-family: $ux_main_font;
	letter-spacing: 0;
	margin: 0;
	padding: 0;
	&.display-4 {
		@include typo-display-4($ux_display_font);
		font-size: 80px;
		font-weight: 300;
		line-height: 90px;
	}
	&.display-3 {
		@include typo-display-3($ux_display_font);
		font-size: 50px;
		font-weight: 400;
		line-height: 60px;
	}
	&.display-2 {
		@include typo-display-2($ux_display_font);
		font-size: 45px;
		font-weight: 400;
		line-height: 55px;
	}
	&.display-1 {
		@include typo-display-1($ux_display_font);
		font-size: 35px;
		font-weight: 400;
		line-height: 45px;
	}
	// Titles
	&.ux-headline {
		font-family: $ux_main_font;
		font-size: 24px;
		font-weight: 400;
		line-height: 34px;
	}
	&.ux-title {
		font-family: $ux_main_font;
		font-size: 18px;
		font-weight: 600;
		line-height: 30px;
	}
	&.ux-subheader {
		font-family: $ux_main_font;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
	}
}
p {
	margin-bottom: $spacing-20;
}
/* Alternative body font */
.ux-body-2 {
	font-size: 14px;
	font-weight: 600;
}
/* Captions */
.ux-caption {
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
}
.ux-caption2 {
	font-size: 12px;
	font-weight: 600;
	line-height: 22px;
}
 /* Icons */
.material-icons {
	@include typo-icon;
}
