<div class="page-content">

	<div class="mdl-grid ux-container--subhead">
		<div class="mdl-cell mdl-cell--12-col">
			&nbsp;
		</div>
	</div>
	
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
			<h3 class="ux-title">Policy</h3>
			<p>Tile View</p>
		</div>
	</div>



<div class="mdl-grid">
	<div class="mdl-cell--4-col">
		<div class="palette-box bg-grey-darkest">&nbsp;</div>
		<div class="palette-box bg-grey-darker">&nbsp;</div>
		<div class="palette-box bg-grey-dark">&nbsp;</div>
		<div class="palette-box bg-grey">&nbsp;</div>
		<div class="palette-box bg-grey-light">&nbsp;</div>
		<div class="palette-box bg-grey-lighter">&nbsp;</div>
		<div class="palette-box bg-grey-lightest">&nbsp;</div>
	</div>
	<div class="mdl-cell--4-col">
	</div>
	<div class="mdl-cell--4-col">
	</div>
</div>

	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--4-col">
			<proto-tile></proto-tile>
		</div>
		<div class="mdl-cell mdl-cell--4-col">
			<md-card class="example-card">
			  <md-card-header>
			    <div md-card-avatar class="example-header-image"></div>
			    <md-card-title>Shiba Inu</md-card-title>
			    <md-card-subtitle>Dog Breed</md-card-subtitle>
			  </md-card-header>
			  <img md-card-image src="assets/images/logo_ivanti.svg">
			  <md-card-content>
			    <p>
			      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
			      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
			      bred for hunting.
			    </p>
			  </md-card-content>
			  <md-card-actions>
			    <button md-button>LIKE</button>
			    <button md-button>SHARE</button>
			  </md-card-actions>
			</md-card>
		</div>
		<div class="mdl-cell mdl-cell--4-col">
			<proto-tile></proto-tile>
		</div>
		<div class="mdl-cell mdl-cell--4-col">
			<proto-tile></proto-tile>
		</div>
		<div class="mdl-cell mdl-cell--4-col">
			<proto-tile></proto-tile>
		</div>
		<div class="mdl-cell mdl-cell--4-col">
			<proto-tile></proto-tile>
		</div>
	</div>

</div>