<main class="ux-layout">
	<md-sidenav-container class="ux-sidenav-container">
	  	<md-sidenav #sidenav class="ux-layout__sidenav">
			<aside class="ux-layout__drawer">
				<header class="ux-navigation-title">
					<!-- <img src="assets/images/logo_ivanti_cloud_sm.svg" class="ux-logo" alt="Ivanti"> -->
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px"viewBox="0 0 341.5 66.4" style="enable-background:new 0 0 341.5 66.4;" xml:space="preserve" preserveAspectRatio="none">
					   <style type="text/css">
					       .ivanti0{fill:#ffffff;}
					       .ivanti1{fill:#ffffff;}
					       .ivanti2{fill:#ffffff;}
					   </style>
					   <g><g><path class="ivanti0" d="M218,65.4c-4.9,0-8.7-1.5-11.5-4.6c-2.8-3.1-4.2-7.4-4.2-12.9c0-5.7,1.4-10.1,4.3-13.2
					               c2.9-3.2,6.8-4.7,11.8-4.7c3,0,5.8,0.5,8.5,1.5l-0.8,2.8c-3-1-5.5-1.5-7.7-1.5c-4.2,0-7.4,1.3-9.5,3.9c-2.2,2.6-3.2,6.3-3.2,11.2
					               c0,4.6,1.1,8.2,3.2,10.8c2.2,2.6,5.2,3.9,9.1,3.9c3.1,0,6-0.6,8.7-1.7v2.9C224.4,64.9,221.5,65.4,218,65.4z"/>
					       <path class="ivanti0" d="M237.1,64.8H234v-49h3.1V64.8z"/>
					       <path class="ivanti0" d="M273.6,47.6c0,5.6-1.4,9.9-4.1,13.1c-2.7,3.1-6.4,4.7-11.2,4.7c-3,0-5.6-0.7-7.9-2.2c-2.3-1.4-4-3.5-5.3-6.2
					               c-1.2-2.7-1.8-5.8-1.8-9.4c0-5.6,1.4-9.9,4.1-13c2.7-3.1,6.4-4.7,11.1-4.7c4.7,0,8.4,1.6,11.1,4.7
					               C272.3,37.8,273.6,42.1,273.6,47.6z M246.6,47.6c0,4.7,1,8.4,3.1,11c2.1,2.6,5,3.9,8.8,3.9c3.8,0,6.7-1.3,8.8-3.9
					               c2.1-2.6,3.1-6.3,3.1-11c0-4.7-1-8.4-3.1-11s-5-3.9-8.8-3.9c-3.8,0-6.7,1.3-8.7,3.9C247.6,39.2,246.6,42.9,246.6,47.6z"/>
					       <path class="ivanti0" d="M282.5,30.6v22.1c0,3.4,0.7,5.9,2.2,7.5c1.4,1.6,3.7,2.3,6.7,2.3c4.1,0,7.1-1,9-3.1c1.9-2.1,2.9-5.4,2.9-10
					               V30.6h3.1v34.2h-2.6l-0.6-4.7H303c-2.2,3.6-6.2,5.3-11.9,5.3c-7.8,0-11.7-4.2-11.7-12.5V30.6H282.5z"/>
					       <path class="ivanti0" d="M327.1,29.9c2.5,0,4.6,0.5,6.4,1.4c1.8,0.9,3.4,2.4,4.8,4.6h0.2c-0.1-2.6-0.2-5.2-0.2-7.8V15.8h3.1v49h-2
					               l-0.8-5.2h-0.3c-2.6,3.9-6.3,5.9-11.2,5.9c-4.7,0-8.3-1.5-10.8-4.4c-2.5-2.9-3.7-7.2-3.7-12.8c0-5.9,1.2-10.4,3.7-13.6
					               C318.8,31.5,322.4,29.9,327.1,29.9z M327.1,32.7c-3.7,0-6.5,1.3-8.4,3.9c-1.9,2.6-2.8,6.4-2.8,11.4c0,9.7,3.8,14.5,11.3,14.5
					               c3.9,0,6.7-1.1,8.5-3.4c1.8-2.2,2.7-5.9,2.7-11.1v-0.5c0-5.3-0.9-9.1-2.7-11.4C334,33.9,331.1,32.7,327.1,32.7z"/>
					       </g><g><g><g><g><g>
					       <g><path class="ivanti2" d="M28,28l8.5,25.5L45.1,28h10.6L42.2,65.5H30L16.3,28H28z"/></g>
					       <g><path class="ivanti2" d="M81.4,65.5c-0.4-2.3-0.4-4-0.4-5.1c-4.2,6-9.1,6-11.2,6c-5.4,0-7.9-1.6-9.4-3c-2.2-2.2-3.3-5.3-3.3-8.2
					                                   c0-3,1-8.5,7.9-11.7c4.6-2.1,11.2-2.1,14.8-2.1c0-2.5-0.1-3.6-0.5-5c-1-2.7-3.9-3.1-4.9-3.1c-1.6,0-3.2,0.7-4.2,2.1
					                                   c-0.8,1.3-0.8,2.5-0.8,3.3H58.8c0.1-2,0.3-6,4.2-8.8c3.4-2.5,7.8-3,11.4-3c3.1,0,9.7,0.5,13.4,4.8c2.5,3,2.6,7.5,2.6,9.2
					                                   L90.5,56c0,3.2,0.2,6.4,0.9,9.5H81.4z M67.9,53.9c0,2.5,1.7,5.3,5.3,5.3c2,0,3.6-1,4.7-2.2c1.9-2.4,2.1-5.3,2.1-9.3
					                                   C72.9,47.2,67.9,49.5,67.9,53.9z"/></g>
					       <g><path class="ivanti2" d="M97.2,34.7c0-0.1,0-4.2-0.2-6.8h10.5l0.3,5.6c1-1.7,4-6.5,12.2-6.5c7.4,0,10.5,4.5,11.4,7.1c0.8,2.3,1,4.2,1,11.2
					                                   v20.3h-11.2V42.2c0-1.6,0-2.9-0.6-4.1c-0.8-1.6-2.5-3.2-5.3-3.2c-2.4,0-4.5,1.1-5.7,2.9c-0.7,1-1.3,2.8-1.3,5.7v22H97.2V34.7
					                                   z"/>
					       </g></g><g>
					       <g><path class="ivanti2" d="M144.5,21.5v6.8h-7.2v7.3h7.2v20.6c0,3.1,0,10.1,11.1,10.1c1.8,0,5-0.2,8.5-1.2v-7.2c-1.3,0.1-2.1,0.2-3.7,0.2
					                                   c-4.9,0-4.9-2.2-5-5.6V35.5h8.9v-7.3h-8.9v-9.8L144.5,21.5z"/></g></g>
					       <g><path class="ivanti2" d="M0,27.9h11v37.6H0V27.9z"/></g></g></g><g>
					       <g><path class="ivanti2" d="M170.9,27.9h11v37.6h-11V27.9z"/> </g></g></g>

					       <g><polygon class="ivanti1" points="181.9,7.3 181.9,18.3 189.2,18.3 189.2,0 170.9,0 170.9,7.3"/>
					           <rect x="170.9" y="11" class="ivanti1" width="7.3" height="7.3"/>
					       </g>
					       <rect x="0" y="7.3" class="ivanti1" width="11" height="11"/></g></g>
					</svg>
					<div class="flex-space"></div>
					<button mdl-button mdl-button-type="icon" (click)="ivantiApp.toggleDrawer()" class="btn-drawer pull-right"><mdl-icon>menu</mdl-icon></button>
				</header>
				<section class="ux-navigation-content">
					<nav class="ux-navigation-items">
						<a class="ux-navigation__item" [routerLinkActive]="['active']" [routerLink]="['/pages/home']" (click)="mdlLayout1.closeDrawer()"><i class="material-icons">home</i>Home</a>
						<a class="ux-navigation__item" [routerLinkActive]="['active']" [routerLink]="['/pages/inventory']" (click)="mdlLayout1.closeDrawer()"><i class="material-icons">devices_other</i>Inventory</a>
						<a class="ux-navigation__item" [routerLinkActive]="['active']" [routerLink]="['/pages/icons']" (click)="mdlLayout1.closeDrawer()"><i class="material-icons">vpn_key</i>Policy</a>
						<a class="ux-navigation__item" href=""><i class="material-icons">library_books</i>Software Library</a>
						<a class="ux-navigation__item" href=""><i class="material-icons">store</i>Store</a>
						<a class="ux-navigation__item" href=""><i class="material-icons">account_box</i>Users</a>
						<a class="ux-navigation__item" href=""><i class="material-icons">report</i>Reports</a>
						<hr class="ux-navigation__divider">
						<a class="ux-navigation__item mdl-navigation__link mdl-js-button mdl-js-ripple-effect" href=""><i class="material-icons">settings_applications</i>System Settings</a>
					</nav>
				</section>
				<footer class="ux-navigation-footer">
					<button href="" class="mdl-button mdl-js-button mdl-js-ripple-effect ux-button__authenticate"><i class="material-icons">exit_to_app</i> Sign Out</button>
				</footer>
			</aside>
		</md-sidenav>
		<md-toolbar class="mat-elevation-z1 ux-layout__header">
		   <span class="btn-drawer">
		        <button md-icon-button (click)="sidenav.open()"><i class="material-icons">menu</i></button>
		   </span>
		   <span class="ux-layout__header__search flex-space"><!-- This fills the remaining space of the current row -->
				<span class="ux-flexbox flex-row ux-field-group">
		             <span class="ux-field-group-addon"><md-icon>search</md-icon></span>
		             <span class="ux-flex">
						 <mdl-textfield type="search" [(ngModel)]="search" placeholder="Search" autocomplete="name" class="ux-search-field"></mdl-textfield>
					 </span>
		        </span>
		   </span>
		</md-toolbar>
		<div class="ux-layout__content">
		   <!-- Router Outlet -->
		   <router-outlet></router-outlet>
		</div>
	</md-sidenav-container>
</main>
