<div class="mdl-grid mdl-grid--no-spacing ux-page-content ux-dashboard">
	<!-- BEGIN: Dashboard Row -->
	<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-grid ux-dashboard--row">
		<!-- BEGIN: KPI Series -->
		<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
			<!-- BEGIN: KPI -->
			<div class="ux-widget ux-widget-kpi">
				<span class="ux-widget-kpi--title">Unmanaged Devices</span>
				<span class="ux-widget-kpi--value">270</span>
			</div>
			<!-- End: KPI -->
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
			<!-- BEGIN: KPI -->
			<div class="ux-widget ux-widget-kpi">
				<span class="ux-widget-kpi--title">New Software Titles</span>
				<span class="ux-widget-kpi--value">235</span>
			</div>
			<!-- End: KPI -->
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
			<!-- BEGIN: KPI -->
			<div class="ux-widget ux-widget-kpi">
				<span class="ux-widget-kpi--title">Compliance</span>
				<span class="ux-widget-kpi--value">92%</span>
			</div>
			<!-- End: KPI -->
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
			<!-- BEGIN: KPI -->
			<div class="ux-widget ux-widget-kpi">
				<span class="ux-widget-kpi--title">Critical Patches</span>
				<span class="ux-widget-kpi--value">50</span>
			</div>
			<!-- End: KPI -->
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
			<!-- BEGIN: KPI -->
			<div class="ux-widget ux-widget-kpi">
				<span class="ux-widget-kpi--title">KPI Title</span>
				<span class="ux-widget-kpi--value">#</span>
			</div>
			<!-- End: KPI -->
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
			<!-- BEGIN: KPI -->
			<div class="ux-widget ux-widget-kpi">
				<span class="ux-widget-kpi--title">KPI Title 2</span>
				<span class="ux-widget-kpi--value">#</span>
			</div>
			<!-- End: KPI -->
		</div>
		<!-- END: KPI Series -->
	</div>
	<!-- END: Dashboard Row -->
	<!-- BEGIN: Dashboard Row -->
	<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing ux-dashboard--row ux-dashboard--row-dashlets">
			<!-- BEGIN: Nested Grid -->
			<div class="mdl-cell mdl-cell--8-col mdl-cell--5-col-tablet mdl-grid mdl-grid--no-spacing">
				<!-- BEGIN: Nested Grid -->
				<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ux-grid--no-right-spacing mdl-grid">
					<!-- BEGIN: Nested Grid -->
					<!-- BEGIN: Widget -->
					<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ux-widget ux-widget-dashlet ux-area-chart" id="stack-chart-container">
						<div class="ux-widget-header">
							<h3 class="ux-title">Devices</h3>
						</div>
						<div class="ux-widget-content">
							<mdl-tabs mdl-ripple class="ux-tabs" mdl-tab-active-index="0" (mdl-tab-active-changed)="tabChanged($event)">
							    <mdl-tab-panel mdl-tab-panel-title="OS">
							    	<p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p><p>OS Content Here</p>
							    </mdl-tab-panel>
							    <mdl-tab-panel mdl-tab-panel-title="Type">
							      <p>Type Content Here</p>
							    </mdl-tab-panel>
							</mdl-tabs>
						</div>
					</div>
					<!-- END: Widget -->
				</div>
				<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-grid mdl-grid--no-spacing">
					<!-- BEGIN: Nested Grid -->
					<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-grid ux-grid--row">
						<!-- BEGIN: Nested Grid -->
						<!-- BEGIN: Widget -->
						<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ux-widget ux-widget-dashlet">
							<div class="ux-widget-header">
								<h3 class="ux-title">Support</h3>
							</div>
							<div class="ux-widget-content">
								<p>Chart</p>
							</div>
						</div>
						<!-- END: Widget -->
						<!-- END: Nested Grid -->
					</div>
					<!-- BEGIN: Nested Grid -->
					<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-grid ux-grid--row">
						<!-- BEGIN: Nested Grid -->
						<!-- BEGIN: Widget -->
						<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ux-widget ux-widget-dashlet">
							<div class="ux-widget-header">
								<h3 class="ux-title">Blocked Apps</h3>
							</div>
							<div class="ux-widget-content">
								<p>Blocked App</p>
							</div>
						</div>
						<!-- END: Widget -->
						<!-- END: Nested Grid -->
					</div>
				</div>
				<!-- END: Nested Grid -->
			</div>
			<!-- END: Nested Grid -->
			<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-grid ux-grid--no-left-spacing">
				<!-- BEGIN: Nested Grid -->
				<!-- BEGIN: Widget -->
				<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone ux-widget ux-widget-dashlet">
					<div class="ux-widget-header">
						<h3 class="ux-title">Top Software Titles</h3>
					</div>
					<div class="ux-widget-content">


<!-- two line list -->
<mat-list>
  <mat-list-item>
    <mat-icon mat-list-icon>folder</mat-icon>
    <h3 mat-line class="ux-list--title">Dropbox Sync <span class="pull-right">3123</span></h3>
    <p mat-line>
      <span>Dropbox <em class="pull-right">Installed</em></span>
    </p>
  </mat-list-item>
</mat-list>



					</div>
				</div>
				<!-- END: Widget -->
				<!-- END: Nested Grid -->
			</div>
	</div>
	<!-- END: Dashboard Row -->
</div>
