<h3 class="ux-headline">Pages: Icons &amp; Components</h3>
<div class="page-content">
	<md-tab-group [selectedIndex]="1">
		<md-tab label="Tiles">
			<p>Nothing here yet</p>
		</md-tab>
		<md-tab label="Components">
			<h3>MD Buttons</h3>
			<p>
				<button md-button>Default Button</button>
				<button md-raised-button>Raised Button</button>
				<button md-raised-button color="primary">Raised Primary Button</button>
				<button md-raised-button color="accent">Raised Accent Button</button>
				<button md-raised-button color="warn">Raised Warn Button</button>
			</p>
			<p>
				<button md-fab><md-icon>add</md-icon></button>
				<button md-mini-fab><md-icon>add</md-icon></button>
			</p>
			<h3>MDL Buttons</h3>
			<p>
				<button mdl-button>Default Button</button>
				<button mdl-button mdl-button-type="raised" mdl-ripple mdl-colored>Raised Button</button>
				<button mdl-button mdl-button-type="raised" mdl-ripple mdl-colored="primary">Raised Primary Button</button>
				<button mdl-button mdl-button-type="raised" mdl-ripple mdl-colored="accent">Raised Accent Button</button>
			</p>
			<p>
				<button mdl-button mdl-button-type="icon" mdl-colored="primary"><mdl-icon>mood</mdl-icon></button>
				<button mdl-button mdl-button-type="mini-fab"><mdl-icon>add</mdl-icon></button>
				<mdl-button mdl-button-type="fab" mdl-ripple><mdl-icon>add</mdl-icon></mdl-button>
			</p>
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--12-col">
					<h4>Material Design Lite Grid</h4>
				</div>
			</div>
			<div class="mdl-grid mdl-grid--no-spacing demo-grid">
				<div class="mdl-cell mdl-cell--1-col">1</div>
				<div class="mdl-cell mdl-cell--1-col">2</div>
				<div class="mdl-cell mdl-cell--1-col">3</div>
				<div class="mdl-cell mdl-cell--1-col">4</div>
				<div class="mdl-cell mdl-cell--1-col">5</div>
				<div class="mdl-cell mdl-cell--1-col">6</div>
				<div class="mdl-cell mdl-cell--1-col">7</div>
				<div class="mdl-cell mdl-cell--1-col">8</div>
				<div class="mdl-cell mdl-cell--1-col">9</div>
				<div class="mdl-cell mdl-cell--1-col">10</div>
				<div class="mdl-cell mdl-cell--1-col">11</div>
				<div class="mdl-cell mdl-cell--1-col">12</div>
				
				<div class="mdl-cell mdl-cell--4-col">4 columns</div>
				<div class="mdl-cell mdl-cell--4-col">4 columns</div>
				<div class="mdl-cell mdl-cell--4-col">4 columns</div>
				
				<div class="mdl-cell mdl-cell--6-col">6</div>
				<div class="mdl-cell mdl-cell--4-col">4</div>
				<div class="mdl-cell mdl-cell--2-col">2</div>
				
				<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">6 (8 tablet)</div>
				<div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet">4 (6 tablet)</div>
				<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">2 (4 phone)</div>
			</div>
			<!-- Angular 2 Material Components -->
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--12-col">
					<h3>Angular 2 Material Component</h3>
					<h4>MDL Radio Buttons</h4>
					
					<md-radio-group>
					<md-radio-button value="1">Option 1</md-radio-button>
					<md-radio-button value="2">Option 2</md-radio-button>
					</md-radio-group>
				</div>
			</div>
		</md-tab>
	</md-tab-group>
</div>